
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body,html
{
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Source Sans Pro" sans-serif;
}

header {
	min-height: 500px;
	min-width: 500px;
	max-width: 100px;
	background-color: aqua;
}

.my-section {
	display: block;
	height: 100vh;
	width: 100vw;
	background-color: red;
}
